tls:
  stores:
    default:
      defaultCertificate:
        certFile: /home/app/certs/cert.pem
        keyFile: /home/app/certs/key.pem

http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
