parameters:
    level: 8
    typeAliases:
        ContextData: '''
            array{
                project_name?: string,
                root_domain?: string,
                registry?: string,
                user_id?: int,
                build_args?: string[],
                twig_dockerfile_frontend?: string,
                docker_profiles?: string[],
                resolve_domains_via_host?: bool
            }
        '''
    paths:
        - src

includes:
    - phpstan-baseline.neon
