<clickhouse>
    <asynchronous_insert_log remove="1"/>
    <asynchronous_metric_log remove="1"/>
    <metric_log remove="1"/>
    <opentelemetry_span_log remove="1"/>
    <part_log remove="1"/>
    <processors_profile_log remove="1"/>
    <query_log remove="1"/>
    <query_views_log remove="1"/>
    <trace_log remove="1"/>
    <text_log remove="1"/>
    <logger>
        <level>error</level>
        <log remove="remove"/>
        <errorlog remove="remove"/>
        <console>1</console>
    </logger>
    <max_server_memory_usage_to_ram_ratio>0.9</max_server_memory_usage_to_ram_ratio>
    <display_name>localhost</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <remote_servers replace="true">
        <redirectionio>
            <secret>secret</secret>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>localhost</host>
                    <port>9000</port>
                </replica>
            </shard>
        </redirectionio>
    </remote_servers>

    <macros>
        <shard>01</shard>
        <replica>01</replica>
        <cluster>redirectionio</cluster>
    </macros>

    <zookeeper>
        <node>
            <host from_env="CLICKHOUSE_KEEPER_HOST"/>
            <port>9181</port>
        </node>
    </zookeeper>

    <default_replica_path>/clickhouse/tables/{shard}/{database}/{table}</default_replica_path>
    <default_replica_name>{replica}</default_replica_name>
    <database_atomic_delay_before_drop_table_sec>5</database_atomic_delay_before_drop_table_sec>
</clickhouse>
