name: Build and push Twig Docker Builder Image

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to registry
        shell: bash
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Build and push the image
        run : |
          cd twig-dockerfile
          docker build . --tag ghcr.io/castor-php/twig-dockerfile:latest
          docker push ghcr.io/castor-php/twig-dockerfile:latest
